In [8]:
import os
import random
import pandas as pd
import numpy as np

In [9]:
train_ship_segmentations_df = pd.read_csv(os.path.join("./datasets/train_val/train_ship_segmentations.csv"))

In [15]:
msk = np.random.rand(len(train_ship_segmentations_df)) < 0.8

train = train_ship_segmentations_df[msk]
test = train_ship_segmentations_df[~msk]

print("Total", train_ship_segmentations_df.shape)
print("Train",len(train))
print("Validation",len(test))

Total (131030, 2)
Train 104773
Validation 26257

In [19]:
#  Move train set
for index, row in train.iterrows():
    image_id = row["ImageId"]
    old_path = "./datasets/train_val/{}".format(image_id)
    new_path = "./datasets/train/{}".format(image_id)
    if os.path.isfile(old_path):
        os.rename(old_path, new_path)

In [20]:
# Move val set
for index, row in test.iterrows():
    image_id = row["ImageId"]
    old_path = "./datasets/train_val/{}".format(image_id)
    new_path = "./datasets/val/{}".format(image_id)
    if os.path.isfile(old_path):
        os.rename(old_path, new_path)

In [25]:
# Count files
path, dirs, files = next(os.walk("./datasets/train_val"))
file_count = len(files)
print(file_count)

path, dirs, files = next(os.walk("./datasets/train"))
file_count = len(files)
print(file_count)


path, dirs, files = next(os.walk("./datasets/val"))
file_count = len(files)
print(file_count)

1
85100
18970

In [61]:
#  Save new csv files
train = train.dropna()
test = test.dropna()

train.to_csv("./datasets/train/train_ship_segmentations.csv", index=False)
test.to_csv("./datasets/val/val_ship_segmentations.csv", index=False)

In [62]:
# Verify new vsc files
train_segs = pd.read_csv(os.path.join("./datasets/train/train_ship_segmentations.csv"))
val_segs = pd.read_csv(os.path.join("./datasets/val/val_ship_segmentations.csv"))


print("train_segs", train_segs.shape)
print("val_segs", val_segs.shape)

train_segs (44766, 2)
val_segs (11264, 2)

In [63]:
train_segs.head()

         ImageId                                      EncodedPixels
0  00021ddc3.jpg  101361 1 102128 3 102896 4 103663 6 104430 9 1...
1  00021ddc3.jpg  95225 2 95992 5 96760 7 97527 9 98294 9 99062 ...
2  00021ddc3.jpg  74444 4 75212 4 75980 4 76748 4 77517 3 78285 ...
3  00021ddc3.jpg  150423 2 151190 3 151958 3 152726 4 153495 3 1...
4  00021ddc3.jpg  139644 2 140408 6 141174 9 141942 9 142711 6 1...